html.bg{
	//background-image:-webkit-gradient(linear,left top,left bottom,from(#CCC),to(#000));
    //-webkit-linear-gradient(top, transparent 50%,lighten(@natural-grey, 60%) 50%, lighten(@natural-grey, 60%) 100%),
    //-webkit-linear-gradient(left, transparent 50%, lighten(@cerise, 45%) 50%,lighten(@cerise, 45%) 100%)
	background-image:url('../img/bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}
.content{
	max-width: 900px;
	margin:0 auto;
}
.logo-tx{
	display: block;
	padding:2rem;
	font-family: @Signika-font;
	font-size: 8em;
	line-height: 0.7em;
	color:@white;
	text-decoration: none;
	text-shadow:1px 1px 1px @black,-1px -1px @azure;
	text-align: center;
	&:hover{
		text-shadow:1px 1px 1px @black,-1px -1px @azure,-1px -1px 3px lighten(@azure,10%),1px 1px 3px lighten(@azure, 20%);
	}
}
.logo-descrition{
	display: inline-block;
	font-size: 2rem;
}
.search-form-wrapper{
	padding:2em 1em;
	overflow: hidden;
}
.search-wrapper-item{
	margin:1em auto;
	.search-label-tx,{
		display: none;
		margin: 1em;
		font-family: @Aleo-font;
		color:@white;
		font-weight: 700;
	}
	.search-input-tx{
		display: block;
		width: 90%;
		margin: 0 auto;
		height: 3em;
		color:@white;
		font-family: 700;
		font-family: @Sans-font;
		background: fadeout(#F0F0F0, 30%);
		.box-sizing(border-box);
		&:hover{
			background: fadeout(#F0F0F0, 50%);
		};
		@media screen and (min-width:700px){
			width:60%;
			margin: 0;
		}

	}
	.search-tip-tx{
		display: none;
		margin-left: 1rem;
		margin-top: 0.5rem;
		font-size: 0.9rem;
		font-family: @Sans-font;
		color:darken(@natural-grey, 30%);
	}
	.submit-btn{
		display: block;
		width:90%;
		margin:0 auto;
		padding:0.5em 1em;
		height: 3em;
		border:1px solid #F0F0F0;
		color:@white;
		font-family: @Aleo-font;
		.box-sizing(border-box);
		&:hover{
			background: fadeout(#F0F0F0, 50%);
		};
		@media screen and (min-width:700px){
			width:40%;
			margin: 0;
		}
	}
}
.content-footer{
	margin: 1em;
	color:@white;
	text-align: center;
}
.footer{
	margin:3em auto 0;
	padding: 2em;
	background: darken(@cerise, 10%);
	text-align: center;
	color:@white;

}
.signin-form{
	position: absolute;
	right:1rem;
	top:3rem;
	display: none;
	background: #FFFFFF;
	padding:1rem;
	border:1px solid darken(#F0F0F0, 10%);
	.border-radius(3px);
	@media screen and (min-width:700px){
		display: block;
	}
	&:before{
		content: "";
		position: absolute;
		display: block;
		z-index: -1;
		left:0.3em;
		right: 0.3em;
		bottom: -0.3em;
		height: 5px;
		background: #FFFFFF;
		.border-radius(3px);
		box-shadow: 1px 0px 1px darken(#F0F0F0, 50%);
	};
	&:after{
		content: "";
		position: absolute;
		display: block;
		z-index: -2;
		left:0.5em;
		right: 0.5em;
		bottom: -0.6em;
		height: 5px;
		background: #FFFFFF;
		.border-radius(3px);
		box-shadow: 1px 0px 1px darken(#F0F0F0, 10%);
	};
	h2{
		text-align: center;
		font-family: @Signika-font;
		font-size: 2rem;
		color:darken(#F0F0F0, 70%);
	}
}
.signin-btn{
	display: block;
	width: 100%;
	text-align: center;
	font-family: @Signika-font;
	background: @azure;
	color:#F0F0F0;
	font-size: 1.1rem;
	&:hover{
		background: fadeout(@azure,20%);
	};
}
.signin-content{
	position: relative;
	height: 3em;
	line-height: 3em;
	border:1px solid darken(#F0F0F0, 10%);
	input{
		//height:100%;
		width: 100%;
		padding-left:5em;
		.box-sizing(border-box);
	}
	i{
		position: absolute;
		padding-left:1em;
		padding-right:1em;
		background: #F0F0F0;
	}
}
.signin-footer{
	overflow: hidden;
	border:none;
	a{
		font-family: @Aleo-font;
		font-size: 0.9rem;
		color:darken(@cerise, 20%);
	}
}