.left{
	float:left;
}
.right{
	float:right;
}
.middle{
	float:left;
}
.list-content{
	width: 100%;
	overflow: hidden;
}
/*
.search-area{
	width:0%;
	overflow: hidden;
	.box-sizing(border-box);
	@media screen and (min-width:500px){
		width:30%;
	}
	@media screen and (min-width:800px){
		width:25%;
	}
}
*/
.list-header{
	max-width: 750px;
}
.main-content{
	width:100%;
	overflow: hidden;
	@media screen and (min-width:800px){
		width:70%;
	}
}
.result-list{
	width:100%;
	padding:0;
	.box-sizing(border-box);
	.result-item{
		margin:0.5rem auto;
		padding:1rem;
		width: 95%;
		border: 2px solid fadeout(@black,100%);
		&:hover{
			border:2px solid fadeout(@black,80%);
			//.box-shadow(2px 2px fadeout(@black,80%),-2px -2px fadeout(@black,80%) );
		};
	}/*
	@media screen and (min-width:500px){
		width:70%;
	}*/
}
.offer-link{
	color:@azure;
}
.item-header{
	font-size: 1.2rem;
	font-weight: normal;
	font-family: @Signika-font;
	color:lighten(@black, 30%);
}
.item-content{
	margin:0.5rem auto;
	font-family: @Signika-font;
	font-size: 0.9rem;
	color:lighten(@black, 30%);
}
.item-footer-link{
	color:@cerise;
	text-decoration: none;
	font-size: 0.9rem;
}
.ads-area{
	display: none;
	.box-sizing(border-box);
	@media screen and (min-width:800px){
		display: block;
		width:30%;
	}
}
.ads-list{
	padding:0rem;
	.ads-list-item{
		margin:0.5rem auto;
		padding:1rem;
	}
}
.ls{
	list-style-type:none;
	overflow: hidden;
	.ls-item{
		float:left;
	}
}
.pagination{
	padding:1rem;
	overflow: hidden;
	a{
		display: inline-block;
		padding:0.5em 1em;
		background:@azure;
		color:@white;
		text-decoration: none;
		&:hover{
			background-color:darken(@azure, 10%);
		}
		&.jp-current{
			background-color:darken(@azure, 20%);
		}
		&.jp-disabled{
			background-color:lighten(@azure, 30%);
		}
	}
}